.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#space {
    position: fixed;
    height: 110%;
    width: 110%;
    top: -5%;
    left: -5%;
    overflow: hidden;
}
.sunny {
    background: linear-gradient(
        to bottom,
        transparent 10%,
        rgb(255, 140, 0) 95%);
    z-index: 1;
}
.layer {
    height: 120%;
    width: 120%;
    position: absolute;
    background-repeat: repeat;
    background-position: center;
    z-index: -101;
}

.layer-1 {
    background: url('../assets/layer1.png');
}

.layer-2 {
    background: url('../assets/layer2.png');
}
.layer-3 {
    background: url('../assets/layer3.png');
}
#colorMeElmo {
    background: linear-gradient(
        to bottom,
        transparent 10%,
        rgb(255, 140, 0) 95%);
    animation: colorCycle 0.5s infinite;
}
@keyframes colorCycle {
    0% {
        background: linear-gradient(
            to bottom,
            transparent 10%,
            rgb(255, 0, 0) 95%);
    }
    16% {
        background: linear-gradient(
            to bottom,
            transparent 10%,
            rgb(255, 127, 0) 95%);
    }
    32% {
        background: linear-gradient(
            to bottom,
            transparent 10%,
            rgb(255, 255, 0) 95%);
    }
    48% {
        background: linear-gradient(
            to bottom,
            transparent 10%,
            rgb(0, 255, 0) 95%);
    }
    64% {
        background: linear-gradient(
            to bottom,
            transparent 10%,
            rgb(0, 0, 255) 95%);
    }
    80% {
        background: linear-gradient(
            to bottom,
            transparent 10%,
            rgb(148, 0, 211) 95%);
    }

}

